
<div class="as-reset-pwd" data-next-page="/account/login">
  <h2 class="fs-h2 mb-0 text-uppercase">{{ 'customer.reset_password.title' | t }}</h2>
  <p class="mb-0 lh-base mt-4 mt-md-7">{{ 'customer.reset_password.subtext' | t }}</p>
  <form action="{{ settings.api_host }}/auth/pwd/reset" method="post" class="as-reset-pwd-form mt-4 mt-md-7" novalidate autocomplete="off">
    <input type="hidden" name="uid" class="as-uid-param">
    <input type="hidden" name="token" class="as-token-param">
    <input type="hidden" name="lang" value="{{ settings.store_code }}">
    <div class="form-pristine as-pwd-wrap position-relative">
      <input type="password" name="password" class="overflow-hidden rounded-pill border-0 as-pwd form-control input-pristine as-pwd-input pe-6" id="reset-pwd" placeholder="{{ 'customer.reset_password.password' | t }}" required
      data-pristine-required-message="{{ 'customer.reset_password.password' | t }}{{ 'customer.error.empty_error' | t }}"
      data-pristine-pattern= "/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/"
      data-pristine-pattern-message="{{ 'customer.error.format_error' | t }}">
      <div class="d-flex align-items-center as-visible-control visible-control content-invisible">
        <div class="icon-eye-off">
          {% render 'icon-eye-off' %}
        </div>
        <div class="icon-eye">
          {% render 'icon-eye' %}
        </div>
      </div>
      <label for="reset-pwd" class="d-none">{{ 'customer.reset_password.password' | t }}</label>
    </div> 
    <div class="py-2"></div>
    <div class="form-pristine as-pwd-wrap position-relative">
      <input type="password" class="overflow-hidden rounded-pill border-0 as-confirm-pwd form-control input-pristine as-pwd-input pe-6" id="repeat_pwd" placeholder="{{ 'customer.reset_password.confirm_password' | t }}" required
      data-pristine-equals="#reset-pwd" data-pristine-required-message="{{ 'customer.reset_password.confirm_password' | t }} {{ 'customer.error.empty_error' | t }}" data-pristine-equals-message="{{ 'customer.error.confirm_password_error' | t }}">
      <div class="d-flex align-items-center as-visible-control visible-control content-invisible">
        <div class="icon-eye-off">
          {% render 'icon-eye-off' %}
        </div>
        <div class="icon-eye">
          {% render 'icon-eye' %}
        </div>
      </div>
      <label for="repeat_pwd" class="d-none">{{ 'customer.reset_password.confirm_password' | t }}</label>
    </div>
    <div class="as-form-error text-danger d-none small mt-2"></div>
    <div class="as-invalid-error d-none">{{ 'customer.error.other_error' | t }}</div>
    <div class="as-frequent-error d-none">{{ 'customer.error.too_many_requests' | t }}</div>
    <button type="submit" class="font-55 as-submit btn btn-lg btn-dark mt-5 text-uppercase">{{ 'customer.reset_password.confirm' | t }}</button>
  </form>
</div>