<h5 class="text-uppercase d-block mt-9 mt-xl-0 font-base">{{ section.settings.title1 }}</h5>
<div class="accordion mt-5 mt-sm-6" id="accordion-{{ key }}">
  {% for block in section.blocks %}
    {% if block.type == "tab1" %}
      <div class="accordion-item">
        <h6 class="accordion-header" id="heading-{{ key }}-{{ forloop.index }}">
          <button class="text-start border-top dot-border-dark pe-1 accordion-button collapsed py-2 py-xl-3" 
            type="button" data-bs-toggle="collapse" 
            data-bs-target="#collapse-{{ key }}-{{ forloop.index }}" 
            aria-expanded="false" 
            aria-controls="collapse-{{ key }}-{{ forloop.index }}">
            <span class="pe-3 font-base">{{ block.settings.title }}</span>
          </button>
        </h6>
        <div id="collapse-{{ key }}-{{ forloop.index }}" 
          class="accordion-collapse collapse" 
          aria-labelledby="heading-{{ key }}-{{ forloop.index }}" 
          data-bs-parent="#accordion-{{ key }}">
          <div class="accordion-body pt-0 font-base">
            {{ block.settings.answer | replace: '<p', '<p class="mb-0"' | replace: '<a', '<a class="dark-link text-decoration-underline"' }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% if section.settings.title2 != empty %}
  <h5 class="text-uppercase d-block mt-9 font-base">{{ section.settings.title2 }}</h5>
  <div class="accordion mt-5 mt-sm-6" id="accordion-{{ key }}">
    {% for block in section.blocks %}
      {% if block.type == "tab2" %}
        <div class="accordion-item">
          <h6 class="accordion-header" id="heading-{{ key }}-{{ forloop.index }}">
            <button class="text-start border-top dot-border-dark pe-1 accordion-button collapsed py-2 py-xl-3" 
              type="button" data-bs-toggle="collapse" 
              data-bs-target="#collapse-{{ key }}-{{ forloop.index }}" 
              aria-expanded="false" 
              aria-controls="collapse-{{ key }}-{{ forloop.index }}">
              <span class="pe-3 font-base">{{ block.settings.title }}</span>
            </button>
          </h6>
          <div id="collapse-{{ key }}-{{ forloop.index }}" 
            class="accordion-collapse collapse" 
            aria-labelledby="heading-{{ key }}-{{ forloop.index }}" 
            data-bs-parent="#accordion-{{ key }}">
            <div class="accordion-body pt-0 font-base">
              {{ block.settings.answer | replace: '<p', '<p class="mb-0"' | replace: '<a', '<a class="dark-link text-decoration-underline"' }}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
