<ul class="as-local-store-list list-unstyled mb-0 {{ list_class }} {% unless section.settings.show_distance %}disabled-distance{% endunless %}">
  {%- for property in metafields_store_locator_local -%}
    <li 
      {% if property.priority != blank %}data-priority="{{ property.priority }}"{% endif %}
      {% if property.sn != blank %}data-sn="{{ property.sn }}"{% endif %}
      {% if property.state != blank %}data-state="{{ property.state }}"{% endif %}
      {% if property.city != blank %}data-city="{{ property.city }}"{% endif %}
      {% if property.zip != blank %}data-zip="{{ property.zip }}"{% endif %}
      {% if property.storetype != blank %}data-storetype="{{ property.storetype }}"{% endif %}
      {% if property.category != blank %}data-category="{{ property.category }}"{% endif %}
      class="as-local-store {{ item_class }}" style="display: none;">
      {%- assign enable_to_render_header = false -%}
      {%- if section.settings.show_store_type and store_type_list.size > 0 and property.storetype != blank -%}
        {%- assign enable_to_render_header = true -%}
      {%- elsif section.settings.show_category and category_list.size > 0 and property.category != blank -%}
        {%- assign enable_to_render_header = true -%}
      {%- endif -%}
      {%- assign is_content_in_header = false -%}
      {%- if enable_to_render_header -%}
        <div class="mb-4 fs-small {{ type_category_class }}">
          {%- if section.settings.show_store_type and store_type_list.size > 0 and property.storetype != blank -%}
            {%- assign is_content_in_header = true -%}
            <span class="me-2">(&nbsp;{{ property.storetype }}&nbsp;)</span>
          {%- endif -%}
          {%- if section.settings.show_category and category_list.size > 0 and property.category != blank -%}
            {%- assign is_content_in_header = true -%}
            <span>(&nbsp;{{ property.category }}&nbsp;)</span>
          {%- endif -%}
        </div>
      {%- endif -%}
      {%- unless is_content_in_header -%}
        {%- if always_render_type_category_dom -%}
          <div class="mb-4 fs-small {{ type_category_class }}">&nbsp;</div>
        {%- endif -%}
      {%- endunless -%}
      <div>
        <div class="d-flex justify-content-between mb-4">
          {%- if property.aspname != blank -%}
            <span>{{ property.aspname }}</span>
          {%- endif -%}
          <span class="distance ms-2 flex-shrink-0 d-none"><span class="as-distance"></span> {{ 'sections.store_locator.km' | t }}</span>
        </div>
        <div>{{ property.address }}{% if property.city != blank %}, {{ property.city }}{% endif %}{% if property.province != blank %}, {{ property.province }}{% endif %}</div>
        {%- assign google_map_link = 'https://maps.google.com/?q=' | append: property.latitude | append: ',' | append: property.longitude -%}
        <a class="link-primary" 
          data-id="open_in_google_map"
          {% render 'link', link: google_map_link %} 
          href="{{ google_map_link }}">{{ 'sections.store_locator.open_in_google_map' | t }}</a>
      </div>

      {%- if property.workinghours != blank -%}
        <dl class="mb-0">
          <dt>{{ 'sections.store_locator.working_hours' | t }}:</dt>
          <dd class="mb-0">{{ property.workinghours }}</dd>
        </dl>
      {%- endif -%}

      {%- if property.closedon != blank -%}
      <dl class="mb-0">
        <dt>{{ 'sections.store_locator.closed_on' | t }}:</dt>
        <dd class="mb-0">{{ property.closedon }}</dd>
      </dl>
      {%- endif -%}
      
      {%- if property.contactno != blank -%}
        {%- assign tels = property.contactno | split: ',' -%}
        {%- if tels.size > 0 -%}
          <dl class="mb-0">
            <dt class="d-none">Phone:</dt>
            <dd class="mb-0">
              {%- for tel in tels -%}
                <a data-id="tel" href="tel:{{ tel | strip }}">{{ tel | strip }}</a>{% unless forloop.last %}, {% endunless %}
              {%- endfor -%}
            </dd>
          </dl>
        {%- endif -%}
      {%- endif -%}

      {%- if property.note != blank -%}
        <dl class="mb-0">
        {{ property.note | replace: '<a', '<a class="link-primary"' }}
        </dl>
      {%- endif -%}
      
    </li>
  {%- endfor %}
</ul>