<div class="px-lg-6">
  <address-autocomplete>
    <div class="mt-4">
      <div class="form-floating overflow-hidden rounded-pill">
        <select class="form-control form-select border-0 as-form-input as-country-region as-region-select" 	
          id="postCountryRegion" name="postCountryRegion" placeholder="{{ 'service_portal.submit.Country_Region' | t }}">
        </select>	
        <label for="postCountryRegion">{{ 'service_portal.submit.Country_Region' | t }}</label>	
      </div>	
      <div class="text-start mt-3 px-4 text-danger invalid-feedback as-input-error-tips">	
        {{ 'service_portal.submit.Country_Region' | t }} {{ 'general.error_message.format_error' | t }}	
      </div>	
    </div>
    <div class="mt-4">	
      <div class="form-floating overflow-hidden rounded-pill">	
        <input data-type="street_address,street_number,route" type="text" name="postAddress1" class="as-predictive-address form-control border-0 as-form-input" 	
          required id="postAddress1" placeholder="{{ 'service_portal.submit.Street_and_house_number' | t }}">	
        <label for="postAddress1">{{ 'service_portal.submit.Street_and_house_number' | t }}</label>	
      </div>	
      <div class="text-start mt-3 px-4 text-danger invalid-feedback as-input-error-tips">	
        {{ 'service_portal.submit.Street_and_house_number' | t }} {{ 'general.error_message.format_error' | t }}	
      </div>	
    </div>		
    <div class="mt-4 as-dynamic-state">	
      <div class="form-floating overflow-hidden rounded-pill">	
        <input type="text" name="postProvinceState" class="as-predictive-state form-control border-0 as-form-input" 	
          id="postProvinceState" placeholder="{{ 'service_portal.submit.State' | t }}" />
        <label for="postProvinceState">{{ 'service_portal.submit.State' | t }}</label>	
      </div>	
    </div>	
    <div class="row row-cols-md-2">	
      <div class="mt-4">	
        <div class="form-floating overflow-hidden rounded-pill">	
          <input type="text" name="postFirstName" class="form-control border-0 as-form-input" 	
            required id="postFirstName" placeholder="{{ 'service_portal.submit.Firstname' | t }}">	
          <label for="postFirstName">{{ 'service_portal.submit.Firstname' | t }}</label>	
        </div>	
        <div class="text-start mt-3 px-4 text-danger invalid-feedback as-input-error-tips">	
          {{ 'service_portal.submit.Firstname' | t }} {{ 'general.error_message.format_error' | t }}	
        </div>	
      </div>	
      <div class="mt-4">	
        <div class="form-floating overflow-hidden rounded-pill">	
          <input type="text" name="postLastName" class="form-control border-0 as-form-input" 	
            required id="postLastName" placeholder="{{ 'service_portal.submit.LastName' | t }}">	
          <label for="postLastName">{{ 'service_portal.submit.LastName' | t }}</label>	
        </div>	
        <div class="text-start mt-3 px-4 text-danger invalid-feedback as-input-error-tips">	
          {{ 'service_portal.submit.LastName' | t }} {{ 'general.error_message.format_error' | t }}	
        </div>	
      </div>	
    </div>
    <div class="mt-4">	
      <div class="form-floating overflow-hidden rounded-pill">	
        <input type="text" name="postAddress2" class="form-control border-0 as-form-input" 	
         id="postAddress2" placeholder="{{ 'service_portal.submit.Apartment' | t }}">	
        <label for="postAddress2">{{ 'service_portal.submit.Apartment' | t }}</label>	
      </div>	
    </div>	
    <div class="row row-cols-md-2">	
      <div class="mt-4">	
        <div class="form-floating overflow-hidden rounded-pill">	
          <input type="text" name="postZip" class="as-predictive-postcode form-control border-0 as-form-input" 	
            required id="postZip" placeholder="{{ 'service_portal.submit.Postal_code' | t }}">	
          <label for="postZip">{{ 'service_portal.submit.Postal_code' | t }}</label>	
        </div>	
        <div class="text-start mt-3 px-4 text-danger invalid-feedback as-input-error-tips">	
          {{ 'service_portal.submit.Postal_code' | t }} {{ 'general.error_message.format_error' | t }}	
        </div>	
      </div>	
      <div class="mt-4">	
        <div class="form-floating overflow-hidden rounded-pill">	
          <input type="text" name="postCity" class="as-predictive-city form-control border-0 as-form-input" 	
            required id="postCity" placeholder="{{ 'service_portal.submit.City_town' | t }}">	
          <label for="postCity">{{ 'service_portal.submit.City_town' | t }}</label>	
        </div>	
        <div class="text-start mt-3 px-4 text-danger invalid-feedback as-input-error-tips">	
          {{ 'service_portal.submit.City_town' | t }} {{ 'general.error_message.format_error' | t }}	
        </div>	
      </div>	
    </div>	
    <div class="mt-4">	
      <div class="form-floating overflow-hidden rounded-pill">	
        <input type="text" name="postTel" class="form-control border-0 as-form-input" 	
          required id="postTel" placeholder="{{ 'service_portal.submit.Phone_number' | t }}">	
        <label for="postTel">{{ 'service_portal.submit.Phone_number' | t }}</label>	
      </div>	
      <div class="text-start mt-3 px-4 text-danger invalid-feedback as-input-error-tips">	
        {{ 'service_portal.submit.Phone_number' | t }} {{ 'general.error_message.format_error' | t }}
      </div>
    </div>
  </address-autocomplete>
</div>