<!doctype html>
<html class="" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
    {% endif %}
    <title>{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="theme-color" content="{{ settings.color_primary }}">
    {{ content_for_header }}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="/assets/scripts/vendor/lazysizes.js" async="async"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="/assets/scripts/vendor/lazysizes.js"></script><![endif]-->
    {% if request.page_type contains 'customers/' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}
  </head>
  
  <body id="{{ page_title | handle }}" class="prototype {% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }}">
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    {{ content_for_layout }}
  </body>

</html>
