<div class="container-core">
  {% if section.settings.title != blank %}
  <h3 class="fs-h2">{{ section.settings.title }}</h3>
  {% endif %}
  <div class="{% if section.settings.title != blank %}mt-5 mt-sm-6 dot-border-dark border-top{% endif %}">
    <div class="mt-4 mt-md-5">
      <div class="row flex-column flex-md-row mt-n4">
        <div class="col mt-4">
          <ol class="mb-0">
            {% for block in section.blocks %}
              <li>{{ block.settings.title }}</li>
            {% endfor %}
          </ol>
        </div>
        <div class="col mt-4">
          {% if customer %}
            {% assign link = section.settings.btn_lin %}
          {% else %}
            {% assign link = routes.account_login_url %}
          {% endif %}
          <a class="btn w-100 btn-primary {{ link }}" {% if customer %}{% render 'link', link: link %}{% endif %}
            href="{{ section.settings.btn_link }}">{{ section.settings.btn }}</a>
          {% if section.settings.note != blank %}
            <div class="mt-3">
              {% render 'richtext', richtext: section.settings.note %}
            </div>
          {% endif %}
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "After sale process",
  "tag": "section",
  "class": "bg-light mb-7 mb-sm-9",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn",
      "label": "btn"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "btn link"
    },
    {
      "type": "richtext",
      "id": "note",
      "label": "note"
    }
  ],
  "blocks": [
    {
      "name": "list",
      "type": "list",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page list"
    }
  ]
}
{% endschema %}