<div class="container-core">
  {% if section.settings.title != blank %}
  <h3 class="fs-h2">{{ section.settings.title }}</h3>
  {% endif %}
  <div class="{% if section.settings.title != blank %}mt-5 mt-sm-6{% endif %}">
    <ul class="mb-0 list-unstyled border-bottom dot-border-dark">
      {%- for block in section.blocks -%}
        <li class="border-top dot-border-dark">
          <div class="row pb-5 pb-md-7 pt-2 flex-column flex-md-row mt-n3">
            <div class="col mt-3">{{ block.settings.title }}</div>
            <div class="col mt-3">{% render 'richtext', richtext: block.settings.des %}</div>
            <div class="col-md-3 mt-3 text-md-end">
              <a class="text-nowrap text-primary" 
                {% assign link = block.settings.url %}
                {%- unless customer -%}
                  {%- if block.settings.login -%}
                    {% assign link = routes.account_login_url %}
                  {%- endif -%}
                {%- endunless -%}
                {% if customer %}{% render 'link', link: link %}{% endif %} href="{{ block.settings.url }}">{{ block.settings.link_text }}</a>
              <div class="fs-small mt-2 {{ link }}">{% render 'richtext', richtext: block.settings.note %}</div>
            </div>
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
{% schema %}
{
  "name": "Page list",
  "tag": "section",
  "class": "bg-light mb-7 mb-sm-9",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "name": "list",
      "type": "list",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Page name"
        },
        {
          "type": "richtext",
          "id": "des",
          "label": "Page description"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "login",
          "label": "Need Login",
          "default": false
        },
        {
          "type": "richtext",
          "id": "note",
          "label": "Note"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page list"
    }
  ]
}
{% endschema %}