{% if section.settings.title %}
{% render 'aboutus-title', title: section.settings.title %}
{% endif %}
<div>
  <div id="carouselExampleIndicators" class="as-carousel carousel _page-template-section slide" data-bs-ride="carousel">
    <div class="as-carousel-slides carousel-inner">
      {% for block in section.blocks %}
        <div class="as-carousel-slide carousel-item{% if forloop.first %} active{% endif %}">
          <div class="row g-0">
            <div class="col-xl-5">
              <figure class="mb-0">
                <picture>
                  <source media="(max-width: 1280px)" 
                    sizes="(max-width: 1280px) 100vw, 1280px" 
                    srcset="
                      {{ block.settings.imageMob | img_url: 'master' }}" >
                  <img loading="lazy" class="w-100"
                    sizes="(max-width: 2160px) 100vw, 2160px"
                    srcset="
                      {{ block.settings.image | img_url: '600x' }} 600w,
                      {{ block.settings.image | img_url: '857x' }} 857w,
                      {{ block.settings.image | img_url: '1069x' }} 1069w,
                      {{ block.settings.image | img_url: '1244x' }} 1244w,
                      {{ block.settings.image | img_url: '1494x' }} 1494w,
                      {{ block.settings.image | img_url: '1560x' }} 1560w,
                      {{ block.settings.image | img_url: '1660x' }} 1660w,
                      {{ block.settings.image | img_url: '1901x' }} 1901w,
                      {{ block.settings.image | img_url: '2040x' }} 2040w,
                      {{ block.settings.image | img_url: '2155x' }} 2155w,
                      {{ block.settings.image | img_url: '2160x' }} 2160w,
                      {{ block.settings.image | img_url: '3840x' }} 3840w" 
                    src="{{ block.settings.image | img_url: '2160x' }}"
                    alt="{{ block.settings.image.alt }}">
                </picture>
              </figure>
            </div>
            <div class="col-xl-7 align-self-center py-5 py-xl-0 px-xl-5" style="padding: 0 1px;">
              {% if block.settings.title != empty %}
                <h5 class="mb-2 pb-2 fs-h2 text-uppercase">{{ block.settings.title }}</h5>
              {% endif %}
              {% if block.settings.des != empty %}
                {% render 'richtext', richtext: block.settings.des  %}
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row g-0">
      <div class="col-xl-5 d-flex justify-content-between align-items-center pt-3">
        <div class="as-carousel-indicators carousel-indicators my-0 mx-n1 position-relative">
          {% for block in section.blocks %}
          <span data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.index0 }}" class="as-carousel-indicator mx-0 px-1{% if forloop.first %} active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.index }}">{{ forloop.index }}</span>
          {% if forloop.last %}/<span class="px-1">{{ forloop.index }}</span>{% endif %}
          {% endfor %}
        </div>
        <div class="d-flex justify-content-center mx-n2">
          <button class="as-carousel-prev carousel-control-prev mx-n1 position-relative" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span aria-hidden="true">{% render 'icon-chevron-down' %}</span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="as-carousel-next carousel-control-next mx-n1 position-relative" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span aria-hidden="true">{% render 'icon-chevron-down' %}</span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="carousel-control">
      <div class="carousel-control-prev bg-light" style="width: {% for block in section.blocks %}{% if forloop.last %}{{ forloop.index | times: 100 }}{% endif %}{% endfor %}%"></div>
      <div class="carousel-control-next bg-light d-xl-none"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Perks",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "name": "Perks",
      "type": "perks",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "des",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Desktop image",
          "info": "Recommended image size 110N x auto (in px), format .jpg, where N can be integer in 1 ~ 12"
        },
        {
          "type": "image_picker",
          "id": "imageMob",
          "label": "Mobile image",
          "info": "Recommended image size 110N x auto (in px), format .jpg, where N can be integer in 1 ~ 12"
        }
      ]
    }
  ]
}
{% endschema %}