<main id="root" role="main" class="bg-light page-contact-us">
  <section class="container-fits-viewport px-2 text-dark section-top section-bottom">
    <div class="container-topic px-2 pt-header mt-sm-1 font-base">
          <div class="row mx-n2">
            <div class="col-sm-3 col-xl-2 px-2">
              {% assign blog = blogs[settings.blog] %}
              {% render 'sidebar-newsroom', handle: page.handle, blog: blog %}   
            </div>
            <div class="col-sm-6 px-2">
                {% assign title = 'contact.us.title' | t %}
                {% render 'page-title', title: title %}
                <div class="mb-3">
                  <p class="mb-1">{{ 'contact.us.product_info' | t }}</p>
                  <p class="mb-0">{{ 'contact.us.other_questions_html' | t }}</p>
                </div>
                {% form 'contact', class: 'as-contact-us-form w-100 opacity-light', novalidate: 'novalidate', autocomplete: "off" %}
                  <div class="">
                    <input type="hidden" id="as-category-hidden-input" name="contact[category]" value="">
                    <input type="hidden" id="as-subject-hidden-input" name="contact[subject]" value="">
                    <div class="row">
                      <div class="d-none  ">{{ 'contact.us.category.title' | t }}</div>
                      <div class="col-12 mt-3">
                        <div class="d-flex position-relative contact-dropdown-wrap as-category-wrap text-uppercase">
                          <a class="rounded-pill contact-dropdown select-dropdown bg-white cursor-pointer d-flex text-dark text-decoration-none w-100" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="as-category-text px-13 flex-grow-1 dot-border-dark d-flex  align-items-center">
                              {{ 'contact.us.category.title' | t }}
                            </span>
                            <span class="dot-border-dark flex-center pe-4">
                              {% render 'icon-chevron-down' %}
                            </span>
                          </a>
                          <ul class="dropdown-menu  py-0 as-category-ul w-100 bg-white border-0 fs-base">
                            <li>
                              <a class="px-2 dropdown-item nav-link as-category-link cursor-pointer">{{ 'contact.us.category.business' | t }}</a>
                            </li>
                            <li>
                              <a class="px-2 dropdown-item nav-link as-category-link cursor-pointer">{{ 'contact.us.category.collaboration' | t }}</a>
                            </li>
                            <li>
                              <a class="px-2 dropdown-item nav-link as-category-link cursor-pointer">{{ 'contact.us.category.sales' | t }}</a>
                            </li>
                            <li>
                              <a class="px-2 dropdown-item nav-link as-category-link cursor-pointer">{{ 'contact.us.category.other' | t }}</a>
                            </li>
                          </ul>
                        </div> 
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 mt-3">
                        <div class="form-floating overflow-hidden rounded-pill">
                          <input type="text"
                            id="contact-us-subject"
                            class="as-form-input as-subject-input rounded-pill form-control border-0"
                            placeholder="{{ 'contact.us.subject' | t }}"
                            maxlength="255"
                            value=""
                            disabled
                            required>
                          <label class="text-muted">{{ 'contact.us.subject' | t }}</label>
                        </div>
                        <div class="text-start px-0 mt-1 text-danger invalid-feedback as-error-tips">
                          {{ 'contact.us.subject' | t }}{{ 'general.error_message.format_error' | t }}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-lg-6 mt-3">
                        <div class="form-floating overflow-hidden rounded-pill">
                          <input type="text"
                            id="contact-us-name"
                            name="contact[name]"
                            class="as-form-input rounded-pill form-control border-0"
                            placeholder="{{ 'contact.us.name' | t }}"
                            maxlength="255"
                            value=""
                            disabled
                            required>
                          <label class="text-muted">{{ 'contact.us.name' | t }}</label>
                        </div>
                        <div class="text-start px-0 mt-1 text-danger invalid-feedback as-error-tips">
                          {{ 'contact.us.name' | t }}{{ 'general.error_message.format_error' | t }}
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 mt-3">
                        <div class="form-floating overflow-hidden rounded-pill">
                          <input type="email"
                            id="contact-us-email"
                            name="contact[email]"
                            class="as-form-input rounded-pill form-control border-0"
                            placeholder="{{ 'contact.us.email' | t }}"
                            value=""
                            disabled
                            pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                            required>
                          <label class="text-muted">{{ 'contact.us.email' | t }}</label>
                        </div>
                        <div class="text-start px-0 mt-1 text-danger invalid-feedback as-error-tips">
                          {{ 'contact.us.email' | t }}{{ 'general.error_message.format_error' | t }}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 mt-3">
                        {% comment %} 当textarea标签中有空格或内容时，会不显示placeholder {% endcomment %}
                        <div class="form-floating rounded-pill">
                          <textarea 
                            id="contact-us-body"
                            class="py-2 as-form-input rounded-3 form-control border-0 form-control-textarea"
                            maxlength="3000"
                            rows="5"
                            disabled
                            name="contact[body]" 
                            style="resize: none;"
                            placeholder="{{ 'contact.us.message' | t }}"
                            required></textarea>
                          <label class="text-muted">{{ 'contact.us.message' | t }}</label>
                        </div>
                        <div class="text-start px-0 mt-1 text-danger invalid-feedback as-error-tips">
                          {{ 'contact.us.message' | t }}{{ 'general.error_message.format_error' | t }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-3 check-text font-mono">
                    <div class="form-check mb-0">
                      <input class="as-form-input-pre as-form-input as-form-input flex-center bg-transparent form-check-input rounded-0 mt-1 mt-lg-0" type="checkbox" id="read_policy" disabled required />
                      {%- capture policy -%}
                        <a href="{{ routes.root_url }}pages/privacy-policy" class="dot-border-primary border-bottom text-primary">{{ 'general.event_banner.policy' | t }}</a>
                      {%- endcapture -%}
                      <label for="read_policy" class="ms-2">{{ 'contact.us.privacy_description_html' | t: policy: policy }}</label>
                    </div>
                    <div class="text-start pe-0 ps-5 mt-1 text-danger invalid-feedback as-error-tips">
                      {{ 'contact.us.privacy_unselected' | t }}
                    </div>
                  </div>
                  <div class="d-flex mt-5 row row-cols-lg-2 gx-0">
                    <button type="submit" disabled class="as-btn border-0 btn btn-lg btn-dark font-55 text-uppercase">{{ 'contact.us.submit' | t }}</button>
                  </div>
    
                  <div class="d-flex as-form-status">
                    <div class="invalid-feedback  "></div>
                    {% if form.posted_successfully? %}
                      <p class="mt-2 mb-0 text-danger">{{ 'contact.us.post_success' | t }}</p>
                    {% endif %}
                    {% if form.errors %}
                      <p class="mt-2 mb-0 text-center text-danger text-uppercase">{{ 'contact.us.post_error' | t }}</p>
                    {% endif %}
                  </div>
                  
                {% endform %}
            </div>

          </div>
    </div>
  </section>
</main>
