<div class="container-topic px-3 px-sm-6 py-sm-9" id="FAQs">
  <div class="px-1 px-sm-0 py-sm-9">
    <div class="row py-9">
      <div class="col-12 col-sm-4 offset-sm-2">
        <h2 class="mb-5 display-1 font-ndot55">{{ section.settings.title }}</h2>
        {% for block in section.blocks %}
        <h6 class="accordion-header py-sm-3 dot-border-dark{% unless forloop.first %} border-top{% endunless %}" id="heading-{{ block.settings.title | handleize }}">
          {% comment %}{% if cache contains faq %} collapsed{% endif %}{% endcomment %}
          <button class="text-start pe-1 accordion-button collapsed text-uppercase font-base font-weight-bold" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#collapse-{{ block.settings.title | handleize }}" 
            {% comment %}{% unless cache contains faq %}true{% else %}false{% endunless %}{% endcomment %}
            aria-expanded="false" 
            aria-controls="collapse-{{ block.settings.title | handleize }}">
            {{ block.settings.title }}
          </button>
        </h6>
        {% comment %}{% unless cache contains faq %} show{% endunless %}{% endcomment %}
        <div id="collapse-{{ block.settings.title | handleize }}" 
          class="accordion-collapse collapse" 
          aria-labelledby="heading-{{ block.settings.title | handleize }}">
          <div class="accordion-body pt-0">
            <div class="row pb-3">
              <div class="col-12">
                {{ block.settings.answer | replace: '<p', '<p class="mb-0"' | replace: '<a', '<a class="dark-link text-decoration-underline"' }}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% if section.settings.notes != blank %}
        {{ section.settings.notes | replace: '<p', '<p class="mb-0"' | replace: '<a', '<a class="dark-link text-decoration-underline"' }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Keynote Faq",
  "class": "bg-light",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "title"
    },
    {
      "type": "richtext",
      "label": "Notes",
      "id": "notes"
    }
  ],
  "blocks": [
    {
      "name": "faq",
      "type": "faq",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Keynote Faq",
      "category": "Content"
    }
  ]
}
{% endschema %}

