<script>
  window.p_img = ["//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P0.png?v=6776328872058452651","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P1.png?v=10010074098859877942","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P2.png?v=11990504261388298588","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P3.png?v=1293556880867042894","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P4.png?v=6215815206016859258","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P5.png?v=8247018636632922745","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P6.png?v=6528416950010027553","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P7.png?v=1756877377506942028","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P8.png?v=2191190712791816028","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P9.png?v=7957070860879979333","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P10.png?v=11308053803188769868","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P11.png?v=8446497319707308715","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P12.png?v=13427794572523236787","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P13.png?v=5505714068917789234","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P14.png?v=17049498915410212825","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P15.png?v=1539316020243396015","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P16.png?v=8874177590526147165","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P17.png?v=17097491496194686280","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P18.png?v=8704292673404852096","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P19.png?v=13400761181690718601","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P20.png?v=12178588136127437054","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P21.png?v=13682234766456096184","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P22.png?v=16371373142737985598","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P23.png?v=8582090813517531680","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P24.png?v=1402953457559688974","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P25.png?v=7050935086123543548","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P26.png?v=4587190960007834817","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P27.png?v=5808817249104292035","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P28.png?v=5967239861237879045","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P29.png?v=8899224573386958467","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P30.png?v=944004573449301449","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P31.png?v=85705226034998896","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P32.png?v=16579153836213910511","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P33.png?v=15236553912618052801","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P34.png?v=121638221186647279","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P35.png?v=15091651677659347730","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P36.png?v=2964620926325287030","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P37.png?v=4623094826295020713","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P38.png?v=16978938063920333057","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P39.png?v=16161081660390372778","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P40.png?v=17880471772018306586","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P41.png?v=10718286061503895913","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P42.png?v=8847107388571608778","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P43.png?v=17011554032006439729","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P44.png?v=15182190662994137437","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P45.png?v=11397761405872964988","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P46.png?v=16984044122463938147","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P47.png?v=11833381225857079162","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P48.png?v=14681718442650788805","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P49.png?v=11544769717649704017","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P50.png?v=2578955070509610063","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P51.png?v=267852569634406181","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P52.png?v=4402334447987655874","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P53.png?v=1505384290889461462","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P54.png?v=15454163636720050614","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P55.png?v=4398226351100080631","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P56.png?v=1247235686071327329","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P57.png?v=13179406187174706953","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P58.png?v=5680919031616413783","//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P59.png?v=6113635610567820695"]
  
  {% if product.metafields.my_fields.resellers %}
    window.RESELLERS = {{ product.metafields.my_fields.resellers }}
  {% endif %}
</script>

<div class="container-fits-viewport as-product bg-dark position-relative flex-center as-location-target" data-color='white'>
  <div class="hero-img h-100 w-100 flex-center overflow-hidden">
    <img class="img-fluid scale-img w-100 h-100 object-fit-contain as-img cursor-grab"
      src="//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P0.png?v=6776328872058452651"
      width=""
      height=""
      loading="lazy"
      alt="">
  </div>
  <div class="top-0 flex-center pt-6 pt-xl-7 position-absolute px-5">
    
    <ul class="d-flex flex-column flex-sm-row justify-content-between list-unstyled mb-0 ">
      <li class="align-items-center d-none d-sm-flex flex-column text-center user-select-none icon-360">
        <span style="transform: translate(4px, 12px);">
          {% render 'icon-360_2' %}
        </span>
        <span>
          {% render 'icon-360_1' %}
        </span>
      </li>
    </ul>
  </div>
  <div class="bottom-0 flex-center pb-sm-6 position-absolute px-5">
    <ul class="d-flex flex-column flex-sm-row justify-content-between pb-sm-5 list-unstyled mb-0 font-55">
      <li class="text-start text-sm-center d-none d-lg-block">
        <span class="as-zoom-minus px-1 user-select-none">-</span>
        <span>{{ 'products.product.zoom' | t }}</span>
        <span class="cursor-pointer as-zoom-plus px-1 user-select-none">+</span>
      </li>
      <li class="align-items-center flex-column text-center user-select-none icon-360 d-flex d-sm-none">
        <span style="transform: translate(4px, 12px);">
          {% render 'icon-360_2' %}
        </span>
        <span>
          {% render 'icon-360_1' %}
        </span>
      </li>
    </ul>
  </div>
</div>
<div class="snap-richtext-product font-change is-active px-6 px-sm-5 pb-8 pt-6 pt-sm-9 bottom-0">
  <div class="mw-text position-relative richtext-beyond-sm">
    <div class="richtext_graph mt-sm-2">
      {{ section.settings.lead_graph | replace: '<p', '<p class="mb-0"' }}
      
      {%- assign current_variant = product.selected_or_first_available_variant -%}
      
      {% unless product.metafields.my_fields.hide_purchase_and_notify %}
        <div class="mt-5 text-uppercase as-gtm-product-checkout">{{ current_variant.price | money }}</div>
        {% if section.settings.free_shipping != blank %}
        <div class="">{{ section.settings.free_shipping }}</div>
        {% endif %}
      {% endunless %}
      
      {% unless product.metafields.my_fields.hide_purchase_and_notify %}
      <div class="mt-5">
        {% if product.metafields.my_fields.third_party_purchase_link != blank %}
          <a class="font-55 btn btn-white text-uppercase as-gtm-product-checkout" target="_blank" rel="noopener noreferrer" 
          href="{{product.metafields.my_fields.third_party_purchase_link}}">{{ 'products.product.buy_now' | t }}</a>
        {% else %}
          {% if product.available %}
            {% if product.metafields.my_fields.invitation_code %}
              {% render 'product-voucher-code', color: 'white' %}
            {% else %}
              <a class="{% unless current_variant.available %}invisible{% endunless %} font-55 btn btn-white text-uppercase as-gtm-product-checkout" 
                href="{{ routes.cart_url }}/{{ current_variant.id }}:1">{{ 'products.product.buy_now' | t }}</a>
            {% endif %}
          {% else %}
            {% render 'product-sign-up', color: 'white' %}
          {% endif %}
        {% endif %}
      </div>
      {% endunless %}

      <div class="mt-5 as-resells d-none">
        <label class="text-uppercase mb-3 mb-sm-4">{{ 'products.resellers.title' | t }}</label>
        <div class="d-flex font-base">
          <div class="flex-grow-1">
            <div class="d-flex position-relative contact-dropdown-wrap as-category-wrap">
              <a class="contact-dropdown select-dropdown bg-transparent cursor-pointer d-flex text-white text-decoration-none w-100" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="as-category-text px-2 flex-grow-1 border-bottom border-end border-start border-top dot-border-white d-flex align-items-center">
                  {{ 'products.resellers.select' | t }}
                </span>
                <span class="border-bottom border-end border-top border-start-0 dot-border-white flex-center px-1">
                  {% render 'icon-chevron-down' %}
                </span>
              </a>
              <ul class="dropdown-menu py-0 as-resells-ul w-100 bg-white border-0" style="max-height: 18.75rem;overflow-y: scroll;">
              
              </ul>
              {% raw %}
              <script type="text/template" id="as-resells-tpl">
                {{#data}}
                <li>
                  <a class="px-2 dropdown-item text-uppercase nav-link cursor-pointer" href='{{link}}' target="_blank" rel="noopener">{{ name }}</a>
                </li>
                {{/data}}
              </script>
              {% endraw %}
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% unless product.metafields.my_fields.hide_purchase_and_notify %}
  {% unless product.metafields.my_fields.third_party_purchase_link != blank %}
    {% if product.available %}
      {% unless product.metafields.my_fields.invitation_code %}
        <div class="fixed-buy-now as-fixed-buy-now">
          <a class="{% unless current_variant.available %}invisible{% endunless %} font-55 btn btn-white text-uppercase" 
            href="{{ routes.cart_url }}/{{ current_variant.id }}:1">{{ 'products.product.buy_now' | t }}</a>
        </div>
      {% endunless %}
    {% endif %}
  {% endunless %}
{% endunless %}

{% schema %}
{
  "name": "ear1",
  "class": "snap-child font-base text-white bg-dark as-snap-list",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "lead_graph",
      "label": "Lead paragraph"
    },
    {
      "type": "text",
      "id": "free_shipping",
      "label": "Free shipping",
      "default": "FREE SHIPPING"
    }
  ]
}
{% endschema %}