<script>
  window.p_img = new Array()
  window.RESELLERS = new Array()
  {% for variant in product.variants %}
    {% assign option = variant.metafields.my_fields.option | downcase | replace: 'black', 'dark' %}
    {% if option == 'dark' %}window.p_img['{{ option }}'] = ["//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-1.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-2.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-3.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-4.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-5.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-6.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-7.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-8.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-9.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-10.png?v=1636082103", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-11.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-12.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-13.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-14.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-15.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-16.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-17.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-18.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-19.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-20.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-21.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-22.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-23.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-24.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-25.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-26.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-27.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-28.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-29.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-30.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-31.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-32.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-33.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-34.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-35.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-36.png?v=1636082527", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-37.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-38.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-39.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-40.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-41.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-42.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-43.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-44.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-45.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-46.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-47.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-48.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-49.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-50.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-51.png?v=1636082103", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-52.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-53.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-54.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-55.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-56.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-57.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-58.png?v=1636082103", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-59.png?v=1636082102", "//cdn.shopify.com/s/files/1/0514/8554/0505/files/D-60.png?v=1636082103"]
    {% elsif option == 'white' %}window.p_img['{{ option }}'] = ["//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P0.png?v=6776328872058452651", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P1.png?v=10010074098859877942", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P2.png?v=11990504261388298588", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P3.png?v=1293556880867042894", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P4.png?v=6215815206016859258", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P5.png?v=8247018636632922745", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P6.png?v=6528416950010027553", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P7.png?v=1756877377506942028", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P8.png?v=2191190712791816028", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P9.png?v=7957070860879979333", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P10.png?v=11308053803188769868", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P11.png?v=8446497319707308715", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P12.png?v=13427794572523236787", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P13.png?v=5505714068917789234", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P14.png?v=17049498915410212825", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P15.png?v=1539316020243396015", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P16.png?v=8874177590526147165", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P17.png?v=17097491496194686280", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P18.png?v=8704292673404852096", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P19.png?v=13400761181690718601", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P20.png?v=12178588136127437054", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P21.png?v=13682234766456096184", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P22.png?v=16371373142737985598", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P23.png?v=8582090813517531680", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P24.png?v=1402953457559688974", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P25.png?v=7050935086123543548", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P26.png?v=4587190960007834817", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P27.png?v=5808817249104292035", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P28.png?v=5967239861237879045", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P29.png?v=8899224573386958467", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P30.png?v=944004573449301449", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P31.png?v=85705226034998896", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P32.png?v=16579153836213910511", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P33.png?v=15236553912618052801", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P34.png?v=121638221186647279", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P35.png?v=15091651677659347730", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P36.png?v=2964620926325287030", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P37.png?v=4623094826295020713", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P38.png?v=16978938063920333057", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P39.png?v=16161081660390372778", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P40.png?v=17880471772018306586", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P41.png?v=10718286061503895913", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P42.png?v=8847107388571608778", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P43.png?v=17011554032006439729", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P44.png?v=15182190662994137437", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P45.png?v=11397761405872964988", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P46.png?v=16984044122463938147", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P47.png?v=11833381225857079162", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P48.png?v=14681718442650788805", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P49.png?v=11544769717649704017", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P50.png?v=2578955070509610063", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P51.png?v=267852569634406181", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P52.png?v=4402334447987655874", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P53.png?v=1505384290889461462", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P54.png?v=15454163636720050614", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P55.png?v=4398226351100080631", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P56.png?v=1247235686071327329", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P57.png?v=13179406187174706953", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P58.png?v=5680919031616413783", "//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P59.png?v=6113635610567820695"]{% endif %}
    {% if variant.metafields.my_fields.resellers %}window.RESELLERS['{{ option }}'] = {{ variant.metafields.my_fields.resellers }}{% endif %}
  {% endfor %}
</script>
<style>
  .step-option+label {
    width: 40px;
    height: 40px;
    border: 4px solid #C4C4C4;
    cursor: pointer;
  }

  .step-option:checked+label {
    border: 4px solid #D21414;
  }

  .product-wrap.is-dark .bg-dark {
    background-color: white !important;
  }

  .product-wrap.is-dark .bg-white {
    background-color: #000102 !important;
  }

  .product-wrap.is-dark .nav-link{
    color: white;
  }

  .product-wrap.is-dark .nav-link:hover,
  .product-wrap.is-dark .contact-dropdown-wrap .nav-link.is-active {
    color: #000102;
    background: white;
  }

  .product-wrap.is-dark .text-white {
    color: black !important;
  }

  .product-wrap.is-dark .icon-360 svg path {
    fill: black;
  }

  .product-wrap.is-dark .btn-white {
    color: #fff;
    background-color: #000102;
    border-color: 000102;
  }

  .product-wrap.is-dark .placeholder-white::placeholder {
    color: #000;
  }

  .product-wrap.is-dark .dot-border-white {
    border-image-source: url("https://cdn.shopifycdn.net/s/files/1/0514/8554/0505/files/border.png?v=1623381366");
  }

  .product-wrap.is-dark .text-white-50{
    color: rgba(0, 0, 0, .5)!important;
  }

  .icon-carbonneutral{
    background-image: url({{ 'nothing_carbonneutral_white.png' | asset_img_url: 'master' }});
  }

  .product-wrap.is-dark .icon-carbonneutral{
    background-image: url({{ 'nothing_carbonneutral_black.png' | asset_img_url: 'master' }});
  }
</style>
{% if product.selected_variant %}
  {%- assign current_variant = product.selected_variant -%}
{% else %}
  {%- assign current_variant = product.variants.first -%}
{% endif %}
<div class="product-wrap as-product as-location-target is-{{ current_variant.metafields.my_fields.option | downcase | replace: 'black', 'dark' }}"
  data-color="{{ current_variant.metafields.my_fields.option | downcase | replace: 'black', 'dark' }}">
  <div class="container-fits-viewport text-white bg-dark position-relative flex-center">
    <div class="hero-img h-100 w-100 flex-center overflow-hidden">
      <img class="img-fluid scale-img w-100 h-100 object-fit-contain as-img cursor-grab"
        src="//cdn.shopifycdn.net/s/files/1/0376/5420/0459/files/P0.png?v=6776328872058452651" width="" height=""
        loading="lazy" alt="">
    </div>
    <div class="top-0 flex-center pt-6 pt-xl-7 position-absolute px-5">
      <ul class="d-flex flex-column flex-sm-row justify-content-between list-unstyled mb-0 ">
        <li class="align-items-center d-none d-sm-flex flex-column text-center user-select-none icon-360">
          <span style="transform: translate(4px, 12px);">
            {% render 'icon-360_2' %}
          </span>
          <span>
            {% render 'icon-360_1' %}
          </span>
        </li>
      </ul>
    </div>
    <div class="bottom-0 flex-center pb-sm-6 position-absolute px-5">
      <ul class="d-flex flex-column flex-sm-row justify-content-between pb-sm-5 list-unstyled mb-0 font-55">
        <li class="text-start text-sm-center d-none d-lg-block">
          <span class="as-zoom-minus px-1 user-select-none">-</span>
          <span>{{ 'products.product.zoom' | t }}</span>
          <span class="cursor-pointer as-zoom-plus px-1 user-select-none">+</span>
        </li>
        <li class="align-items-center flex-column text-center user-select-none icon-360 d-flex d-sm-none">
          <span style="transform: translate(4px, 12px);">
            {% render 'icon-360_2' %}
          </span>
          <span>
            {% render 'icon-360_1' %}
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="snap-richtext-product text-white font-change is-active px-6 px-sm-5 pb-8 pt-6 pt-sm-9 bottom-0">
    <div class="mw-text position-relative richtext-beyond-sm">
      <div class="richtext_graph mt-sm-2">
        <h1 class="mb-0 d-none d-md-block font-55 font-size-lg">{{ product.title }}</h1>
        {% if section.settings.lead_graph != blank %}
        <div class="d-inline-block mt-n-small"><div class="d-inline-block mt-n-small"><div class="d-inline-block mt-n-small"><div class="d-inline-block mt-n-small"><div class="d-inline-block mt-n-small">
          <div class="mt-5">{{ section.settings.lead_graph | replace: '<p', '<p class="mb-0"' | replace: '<a', '<a class="text-white text-decoration-underline"' }}</div>
        </div></div></div></div></div>
        {% endif %}

        <div class="mt-5 icon-carbonneutral w-100"></div>

        <div class="mt-5 mb-1 pb-1 d-flex">
          {% for variant in product.variants %}
          {% assign option = variant.metafields.my_fields.option | downcase | replace: 'black', 'dark' %}
          <p class="font-size-sm mb-0 text-uppercase text-white-50 as-color-{{ option }}{% if variant.id == current_variant.id %}{% else %} d-none{% endif %}">
            {{ variant.option1 }}
          </p>
          {% endfor %}
        </div>
        <div class="d-flex mx-n1">
          {% for variant in product.variants %}
          {% assign option = variant.metafields.my_fields.option | downcase | replace: 'black', 'dark' %}
          <div class="mx-1">
            <input class="step-option as-step-option d-none" type="radio" name="option-{{ product.id }}"
              id="option-{{ product.id }}-{{ forloop.index0 }}" value="{{ option }}" {% if
              variant.id==current_variant.id %}checked{% else %}{% endif %}>
            <label class="rounded-circle" for="option-{{ product.id }}-{{ forloop.index0 }}">
              <span class="d-block w-100 h-100 rounded-circle"
                style="background-color: {% if option == 'dark' %}black{% else %}{{ option }}{% endif %};"></span>
              <span class="visually-hidden">{{ option }}</span>
            </label>
          </div>
          {% endfor %}
        </div>

      {% for variant in product.variants %}
      {% assign option = variant.metafields.my_fields.option | downcase | replace: 'black', 'dark' %}
      <div class="as-{{ option }} {% if variant.id == current_variant.id %}d-inline-block{% else %}d-none{% endif %} mt-n-small"><div class="d-inline-block mt-n-small">
      <div
        class="d-inline-block mt-n-small">
        {% unless variant.metafields.my_fields.hide_purchase_and_notify %}
        <div class="mt-5 text-uppercase as-gtm-product-checkout">{{ variant.price | money }}</div>
        {% if variant.metafields.my_fields.shipping_info != blank %}
        <p class="font-size-sm mb-0 mt-1 text-uppercase text-white-50">{{ variant.metafields.my_fields.shipping_info | newline_to_br }}</p>
        {% endif %}
        {% endunless %}

        {% unless variant.metafields.my_fields.hide_purchase_and_notify %}
        <div class="mt-5">
          {% if variant.metafields.my_fields.third_party_purchase_link != blank %}
          <a class="font-55 btn btn-white text-uppercase as-gtm-product-checkout" target="_blank"
            rel="noopener noreferrer" href="{{variant.metafields.my_fields.third_party_purchase_link}}">{{
            'products.product.buy_now' | t }}</a>
          {% else %}
          {% if variant.available %}
          {% if variant.metafields.my_fields.invitation_code %}
          {% render 'product-voucher-code', color: 'white', current_variant: variant %}
          {% else %}
          <button class="{% unless variant.available %}invisible{% endunless %} as-empty-add-to-cart font-55 btn btn-white mt-n-small text-uppercase as-gtm-product-checkout" 
            data-id="{{ variant.id }}"
            data-option="{{ option }}"
            data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvas-cart" 
            aria-controls="offcanvas-cart"
            >{{ 'products.product.add_to_cart' | t }}</button>
          {%- comment -%}
          <a class="{% unless variant.available %}invisible{% endunless %} font-55 btn btn-white text-uppercase as-gtm-product-checkout"
            href="{{ routes.cart_url }}/{{ variant.id }}:1">{{ 'products.product.buy_now' | t }}</a>
          {%- endcomment -%}
          {% endif %}
          {% else %}
          {% render 'product-sign-up', color: 'white' %}
          {% endif %}
          {% endif %}
        </div>
        {% endunless %}

        <div class="mt-5 as-resells d-none">
          <label class="text-uppercase mb-3">{{ 'products.resellers.title' | t }}</label>
          <div class="d-flex font-base">
            <div class="flex-grow-1">
              <div class="d-flex position-relative contact-dropdown-wrap as-category-wrap">
                <a class="h-35 contact-dropdown bg-transparent cursor-pointer d-flex text-white text-decoration-none w-100"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <span
                    class="as-category-text px-1 flex-grow-1 border-bottom border-end border-start border-top dot-border-white d-flex align-items-center">
                    {{ 'products.resellers.select' | t }}
                  </span>
                  <span class="border-bottom border-end border-top border-start-0 dot-border-white flex-center px-1">
                    {% render 'icon-chevron-down' %}
                  </span>
                </a>
                <ul class="dropdown-menu py-0 as-resells-ul w-100 bg-white border-0"
                  style="max-height: 18.75rem;overflow-y: scroll;">

                </ul>
                <script type="text/template" id="as-{{ option }}-resells-tpl">
                {% raw %}
                  {{#data}}
                  <li>
                    <a class="px-1 dropdown-item text-uppercase nav-link cursor-pointer" href='{{link}}' target="_blank" rel="noopener">{{ name }}</a>
                  </li>
                  {{/data}}
                {% endraw %}
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div></div>
      {% endfor %}
    </div>
  </div>
</div>
{%- comment -%}
{% unless product.metafields.my_fields.hide_purchase_and_notify %}
{% unless product.metafields.my_fields.third_party_purchase_link != blank %}
{% if product.available %}
{% unless product.metafields.my_fields.invitation_code %}
<div class="fixed-buy-now as-fixed-buy-now">
  <a class="{% unless current_variant.available %}invisible{% endunless %} font-55 btn btn-white text-uppercase"
    href="{{ routes.cart_url }}/{{ current_variant.id }}:1">{{ 'products.product.buy_now' | t }}</a>
</div>
{% endunless %}
{% endif %}
{% endunless %}
{% endunless %}
{%- endcomment -%}
</div>
{% schema %}
{
  "name": "ear1",
  "class": "snap-child as-snap-list font-base position-relative",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "lead_graph",
      "label": "Lead paragraph"
    }
  ]
}
{% endschema %}