
{%- style -%}
  {%- assign image = section.settings.image -%}
  .img-wrap-{{ section.id }} {
    height: 0;
    padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;
  }
  @media screen and (max-width: 576px) {
    {%- assign image = section.settings.imageMob -%}
    .img-wrap-{{ section.id }} {
      padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;
    }
  }
{%- endstyle -%}
<div class="align-items-center d-flex justify-content-center">
  <div class="position-relative h-100 w-100">
    <figure class="h-100 mb-0 w-100">
      <picture class="overflow-hidden d-block img-wrap-{{ section.id }}">
        <source media="(max-width: 576px)" 
          sizes="(max-width: 576px) 100vw, 576px" 
          srcset="
            {{ section.settings.imageMob | img_url: 'master' }}" >
        <img class="img-fluid w-100"
          sizes="(max-width: 2160px) 100vw, 2160px"
          srcset="
            {{ section.settings.image | img_url: '600x' }} 600w,
            {{ section.settings.image | img_url: '857x' }} 857w,
            {{ section.settings.image | img_url: '1069x' }} 1069w,
            {{ section.settings.image | img_url: '1244x' }} 1244w,
            {{ section.settings.image | img_url: '1494x' }} 1494w,
            {{ section.settings.image | img_url: '1560x' }} 1560w,
            {{ section.settings.image | img_url: '1660x' }} 1660w,
            {{ section.settings.image | img_url: '1901x' }} 1901w,
            {{ section.settings.image | img_url: '2040x' }} 2040w,
            {{ section.settings.image | img_url: '2155x' }} 2155w,
            {{ section.settings.image | img_url: '2160x' }} 2160w,
            {{ section.settings.image | img_url: '3840x' }} 3840w" 
          src="{{ section.settings.image | img_url: '2160x' }}"
          alt="{{ section.settings.image.alt }}">
      </picture>
    </figure>
  </div>
  <div class="position-absolute container-core">
    <div class="row-cols-sm-2 flex-column">
      {% if section.settings.heading != blank %}
        <h2 class="fs-h1">{{ section.settings.heading }}</h2>
      {% endif %}
      <div class="mt-4 mt-md-5">
        {% render 'richtext', richtext: section.settings.lead_graph %}
      </div>
      <div class="mt-4 mt-md-5">
        <form class="align-items-center bg-white border-dark input-group rounded-pill as-support-search overflow-hidden" autocomplete="off">
          <button class="bg-transparent btn-outline px-3 border-0 w-auto" type="submit">{% render 'icon-support-search' %}</button>
          <input type="text" class="border-0 form-control ps-0" name="search" placeholder="{{ section.settings.search }}">
        </form>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Support banner",
  "tag": "section",
  "class": "position-relative overflow-hidden mb-7 mb-sm-9",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "lead_graph",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop image",
      "info": "Recommended image size 110N x auto (in px), format .jpg, where N can be integer in 1 ~ 12"
    },
    {
      "type": "image_picker",
      "id": "imageMob",
      "label": "Mobile image",
      "info": "Recommended image size 110N x auto (in px), format .jpg, where N can be integer in 1 ~ 12"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "search",
      "label": "Placeholder",
      "default": "Search"
    }
  ]
}
{% endschema %}